default_language_version:
  python: python3.11
default_stages: [commit]
exclude: (^heart_engine/module/)

repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        args: ["--profile", "black"]
        entry: poetry run isort --profile black
        language: python
        types: [python]

      - id: black
        name: black
        entry: poetry run black
        language: python
        types: [python]

      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: python
        types: [python]

      # - id: mypy
      #   name: mypy
      #   entry: poetry run mypy .
      #   language: python
      #   types: [python]
      #   pass_filenames: false
